ul li.active2 a{
    background-color: white;
    color: black;
}

/* img {
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 30%;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    z-index: -1;
} */

.question {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question h2 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: fantasy;
}

#design { 
    color: white;
    font-family: fantasy;
    font-size: 70px; 
}

.description {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);


    text-align: center;
    color:  black;
    font-size: 20px;
    font-family: fantasy;

    background-color: transparent;
    width: 800px;
    border: 4px solid black;
    border-radius: 80px;
    padding: 30px;
    margin: 10px;

}

#absa {
    color: white;
    font-family: fantasy;
    font-size: 30px; 
}

.tech {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tech h3{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: fantasy;
}
#random {
    font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    
} 

.e1 {
    position: absolute;
    top: 10%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
}
.e2 {
    position: absolute;
    top: 30%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
}


.i1 {
    position: absolute;
    top: 80%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
}
.i1 img{
    width: 150px;
    height: 150px;
}
.i2 {
    position: absolute;
    top: 90%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
}
.i2 img{
    width: 200px;
    height: 200px;
}
.i3 {
    position: absolute;
    top: 125%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}
.i3 img{
    width: 150px;
    height: 150px;
}
.i4 {
    position: absolute;
    top: 125%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
}
.i4 img{
    width: 150px;
    height: 150px;
}


