ul li.active3 a{
    background-color: white;
    color: black;
}

/* .question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question h2 {
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: fantasy;
} */