* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    height: 10vh;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-image: url("static/img/bg.jpg") */
    background: black; 
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: white;
    color: black;
}

.main {
    max-width: 1200px;
    margin: auto;
}


.title h1 {
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: fantasy;
}



.box1 {
    position: absolute;
    top: 78%;
    left: 45%;
}

.b1,
.b2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}


.box2 {
    position: absolute;
    top: 85%;
    left: 46%;
}

.b1:hover,
.b2:hover {
    background-color: white;
    color: black;
}