{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
    <header>
        <img src="{%static 'img/sa.png'%}" alt="">
        <div class="main">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>      
        <div class="title">
            <h1>Sentiment Analysis</h1>
        </div>
        <div class="button">
            <a href="#" class="btn">ENTER TEXT FOR ANALYSIS</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>