{% extends '_base.html' %}
{% load static %}
{% block title %}
    Sentiment Analysis
{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="title">
    <h1>Aspect Based Sentiment Analysis</h1>
</div>
<div class="button">
    <form action="./" method="post">
        {% csrf_token %}
        <label>Please Enter Your Sentence</label>
        <input class="btn" id="id_subject" type="text" name="sentence" maxlength="100" required id="id_sentence" >
    </form>
    
</div>
<div class="box1">
    {% if show %}
        <a href="#" class="b1">{{sentiment}}</a>
    {% endif %}
</div>
<div class="box2">
    {% if show %}
    <a href="#" class="b2">{{aspect}}</a>
    {% endif %}
</div>


<!-- hehe boi -->
<div>
    {% if garbage %}
    <img src="{% static 'img/michael.jpg' %}">
    {% endif %}
</div>

<div class="history">
    {% for x in history %}
        <p><span id="rand">Input:</span> {{x.sentence}};   <span id="rand">Sentiment:</span> {{x.sentiment}};   <span id="rand">Aspect:</span> {{x.aspect}}</p>
    {% endfor %}
</div>


    
{% endblock content %}